html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Noticia Text', serif;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

body, html {
    height: 100%;
}

.header {
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;

  /* Parallax */
  height: 100%;
  background-image: url("images/burgerbackground.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header h1 {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;

}

.header h4 {
  margin-top: 0px;
}

.header div {
  width: 100%;
}

.titulocontainer {
  margin: 60px;
  margin-top: 0px;
  padding-top: 83px;
}

.subtitulo {
  margin: 0px;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 0px;
  font-size: 40px;
}

.legenda {
  margin-top: 0px;
  padding-left: 20px;
}

.cardapio {
  height: 100%;
  background-color: #1E1E1E;
  color: #ffffff;
}

.lojas {
  background-image: url("images/riodejaneiro.jpeg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

footer {
  text-align: center;
}

.thumbnail {
  text-align: center;
}
